{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pigs App</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    {% block header %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <span class="navbar-brand">{{ page_name }}</span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/cameras">Cameras</a></li>
        </ul>
    </nav>
    {% endblock header%}
    {% block content %} {% endblock content %} 
  </body> 
</html>