{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/css/camera.css' %}">
<script src="{% static 'main/js/camera.js' %}"></script>

<body>
   
    
    <div class="content">
        
        <div class="counterPanel">
          <div class="card mb-3 text-center" style="width: 18rem;">
            <div class="card-body">
              <h1 class="card-title" id="counterString">{{ cam.current_counter }}</h1>
              <p class="card-text">Текущее значение счетчика</p>
            </div>
          </div>
          <a onclick="resetCounter('{{ cam.id }}')" id="resetCounterBtn" class="btn btn-primary">Обнулить счетчик</ф>
          <a href="{% url 'cameraLiveStream' cam.id %}" class="btn btn-primary">Прямой эфир</a>
          <a onclick="deleteCamera('{{ cam.id }}')" class="btn btn-danger" style="margin-top: 20px;">Удалить камеру</a>
            
        </div>
        <div class="sep"></div>
        <div class="controls">
            <h4>{{ cam.name }}</h4>
          <!-- <p>Url адрес камеры: {{cam.url}}</p> -->
          {% if cam.status > 0 %}
          <p class="card-text">Direction: {{ cam.direction }}</p>
          <p class="card-text">Line placement: {{ cam.line_place }}</p>
          <p class="card-text">Line width: {{ cam.line_width }}</p>
          <p class="card-text">Model: {{ cam.model }}</p>
          {% endif %}
          <p>Текущий статус: </p>
          <ol class="progress-step-indicator" id='stepIndicator' role="list">
            {% if cam.status == 0 %}
            <li class="progress_li candyStripe" aria-current="step">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 1<br>Камера создана, но не настроена. Поток обработки не запущен</div>
            </li>
            <li class="progress_li" >
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 2<br>Камера создана и настроена. Поток обработки не запущен.</div>
            </li>
            <li class="progress_li">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 3<br>Камера настроена, поток обработки запущен.</div>
            </li>
            {% elif cam.status == 1 %}
            <li class="progress_li-done">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 1<br>Камера создана, но не настроена. Поток обработки не запущен</div>
            </li>
            <li class="progress_li candyStripe" aria-current="step">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 2<br>Камера создана и настроена. Поток обработки не запущен.</div>
            </li>
            <li class="progress_li">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 3<br>Камера настроена, поток обработки запущен.</div>
            </li>

            {% elif cam.status == 2 %}
            <li class="progress_li-done">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 1<br>Камера создана, но не настроена. Поток обработки не запущен</div>
            </li>
            <li class="progress_li-done">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 2<br>Камера создана и настроена. Поток обработки не запущен.</div>
            </li>
            <li class="progress_li candyStripe" aria-current="step">
              <i class="bi bi-check"></i>
              <div class="progress_text hyphenate">Status 3<br>Камера настроена, поток обработки запущен.</div>
            </li>
            {% endif %}
          
          </ol>
          
          <div class="control-buttons">
            {% if cam.status == 0 %}
            <a href="{% url 'setLineSettings' cam.id %}" class="btn btn-primary">Настроить</a>
            {% elif cam.status == 1 %}
            <a href="{% url 'setLineSettings' cam.id %}" class="btn btn-primary">Изменить настройки</a>
            <a onclick="launchCam('{{ cam.id }}')" class="btn btn-primary">Запустить поток обработки</a>
            {% elif cam.status == 2 %}
            <a href="{% url 'setLineSettings' cam.id %}" class="btn btn-primary">Изменить настройки</a>
            <a onclick="stopCam('{{ cam.id }}')" class="btn btn-danger">Отключить поток обработки</a>
            {% endif %}
          </div>
          
        </div>


    </div>

  </body>


{% endblock content %}
