{% extends "main/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'main/css/cameras.css' %}">
<script src="{% static 'main/js/cameras.js' %}"></script>

<div class="container">

    <button type="button" class="btn btn-success btn-add" onclick="clearModal()" data-bs-toggle="modal" data-bs-target="#exampleModal">
      + Add new camera
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New camera settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="create_camera" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="url">Camera URL</label>
                    <input type="text" name="url" id="url" class="form-control" placeholder="RTSP Protocol" required >
                </div>
                <div class="mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-md-6">
                        <label for="direction">Direction</label>
                        <select id="direction" name="direction" class="form-control" aria-label="Default select example" required>
                            <option name="direction" value="Up" selected>Up</option>
                            <option name="direction" value="Down">Down</option>
                            <option name="direction" value="Left">Left</option>
                            <option name="direction" value="Right">Right</option>
                          </select>
                    </div>
                    <div class="col-md-6">
                        <label for="line_place">Counting line location</label>
                        <input type="number" name="line_place" value="0.5" min="0" max="1" step="0.1" id="line_place" class="form-control" placeholder="From 0 to 1">
                    </div>
                </div>
                </div>
                <div class="mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-md-6">
                        <label for="line_width">Counting line width</label>
                        <input type="number" name="line_width" value="20" id="line_width" class="form-control" placeholder="Width in pixels">
                    </div>
                    <div class="col-md-6">
                        <label for="model">Model</label>
                        <input type="text" name="model" id="model" class="form-control" placeholder="Choose model" required >
                    </div>
                </div>
              </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" form="create_camera" id="createCameraBtn" class="btn btn-primary">Add</button>
                <button type="button" form="create_camera" id="saveCameraBtn" class="btn btn-primary" hidden>Save</button>
            </div>
        </div>
        </div>
      </div>
    </div>

    {% if cameras|length > 0 %}
      {% for camera in cameras %}
        <div class="card camera-card" id="camera_{{ camera.id }}" data-url="{{ camera.url }}" data-direction="{{ camera.direction }}" data-line_place="{{ camera.line_place }}"
        data-line_width="{{ camera.line_width }}" data-model="{{ camera.model }}">
          <h5 class="card-header">{{ camera.id }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ camera.url }}</h5>
            <p class="card-text">Direction: {{ camera.direction }}</p>
            <p class="card-text">Line placement: {{ camera.line_place }}</p>
            <p class="card-text">Line width: {{ camera.line_width }}</p>
            <p class="card-text">Model: {{ camera.model }}</p>
            <div class="card-footer text-end">
              <a href="#" class="btn btn-primary">Open</a>
              <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="editCamera('{{ camera.id }}')">Edit</a>
              <a class="btn btn-danger delbutton" onclick="deleteCamera('{{ camera.id }}')">Delete</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h2>No cameras yet</h2>
    {% endif %}

</div>

{% endblock content %}