{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<script src="{% static 'main/js/login.js' %}"></script>

<body>
    
    <div class="container">
        <div class="card">
          <div class="card-header">
            Вход
          </div>
            <div class="mb-3">
              <label for="inputUsername" class="form-label">Имя пользователя</label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Пароль</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3 form-check" id="remember">
              <input type="checkbox" class="form-check-input" id="rememberMe">
              <label class="form-check-label" for="rememberMe">Запомнить меня</label>
            </div>
            <button type="button" class="btn btn-primary" id="loginButt">Войти</button>
            <hr>
            <p class="text-center">Нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
        </div>
      </div>

  </body>


{% endblock content %}
