{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/css/register.css' %}">
<script src="{% static 'main/js/register.js' %}"></script>

<body>
    <div class="card" style="width: 500px;">
        <div class="card-header">
          Регистрация
        </div>
        <div class="card-body" id='card1'>
            <form id="reg">
            <div class="mb-3">
                <label for="name" class="form-label">Username</label>
                <input type="text" name="username" form="reg" class="form-control" id="username" placeholder="Ваше\ юзернейм" required="required">
              </div>
          <div class="mb-3">
            <label for="name" class="form-label">Имя*</label>
            <input type="text" name="name" form="reg" class="form-control" id="nameU" placeholder="Ваше имя" required="required">
          </div>
          <div class="mb-3">
            <label for="surname" class="form-label">Фамилия*</label>
            <input type="text" name="surname" form="reg" class="form-control" id="surname" placeholder="Ваша фамилия" required="required">
          </div>
          <div class="mb-3">
            <label for="fathername" class="form-label">Отчество</label>
            <input type="text" name="fathername" form="reg" class="form-control" id="fathername" placeholder="Ваше отчество" required="required">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Адрес электронной почты*</label>
            <input type="email" name="email" form="reg" class="form-control" id="email" placeholder="name@example.com" required="required">
          </div>
          
          <div class="mb-3">
            <label for="password" class="form-label">Пароль*</label>
            <input type="password" name="password" form="reg" class="form-control" id="password" required="required"></textarea>
          </div>
          <div class="mb-3" id="block_last">
            <label for="password" class="form-label">Подтвердите пароль*</label>
            <input type="password" name="repeatpassword" form="reg" class="form-control" id="repeatpassword" required="required"></textarea>
          </div>
          <input type='button' form="reg" class="btn btn-primary" style="width:100%" value='Зарегистрироваться' id="regButt"></input>
        </form>
        </div>

{% endblock content %}